*{
    margin: 0px;
    padding: 0px;
    color: wheat;
}

body {
    background-color: rgba(0, 0, 0, 0.89);
    min-height: 90vh;
}

header {
    height: 8vh;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    padding-left: 7vw;
    padding-bottom: 1vh;
    font-weight: bold;
    font-size: x-large;
}
span{
    color:orangered;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 2vh;
}

li{
    color: whitesmoke;
}
li:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

nav {
    width: 50rem;
    margin-left: 40vw;
}

h3 {
    padding-bottom: 20px;
    margin-top: 1rem;
    margin-left: 1rem;
    color: whitesmoke;
}

.ttt{
    margin-top: 6.5rem;
    margin-left: 1rem;
    color: wheat;
    font-size: 1.8em;
}
.one {
    padding-top: 2rem;
    padding-left: 5rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    width:40vw;
}

h1{
    font-size: 2.5em;
}

.two {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    min-width: 80vw;
}

img {
    padding-top: 1rem;
    border-radius: 50%;
    margin-right: 20rem;
    width:20vw;
    height: 45vh;
}

a:hover {
    cursor: pointer;
}

.icon{
    margin-top: 0.9vw;
    margin-left: 3rem;
}

p{
    color: #F6C6EA;
    font-size: larger;
    padding-top: 1rem;
}
.icons{
    margin-top: 1vh;
    display: flex;
}

.project{
    margin-top: 4vh;
    display: none;
}


a{
    padding: 0.5vw;
}

.Education{
    margin-top: 4vh;
    margin-left: 5vw;
    text-align: center;
    display: none;
}

.edu p{
    font-size: medium;
    color: #8CC0DE;
}

.fkl{
    display: flex;
    justify-content: space-between;
}

.projects{
    margin-top: 4vh;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills{
    display:none;
    justify-content: space-between;
    text-align: center;
}

.nontech{
    margin-right: 6vw;
    padding-left: 1vw;
}

.contact{
    margin: 4vh 3vw 0vw 4vw;
    text-align: center;
    display: none;
}

.ab{
    margin-top: 11vw;
    width: 55vw;
}

.btn{
    margin-top: 2vh;
    background-color: grey;
    color:black;
    border-color: grey;
    height: 5.5vh;
}

.color{
    margin: 2em;
    background-color: rgb(207, 146, 65);
}

.c1{
    color:black
}

.image{
    margin: 0vw 1vw 0vh 1vw;
    width: 90%;
    height: 10em;
}


.ppp{
    margin-left: 45vw;
}
